:root {
    --player-image: url('../resources/simetra.png');
    --panel-color: #2196F3; /*green: 4CAF50*/
}

body, html {margin: 0; padding: 0;}

/* --MAZE-- */
.maze {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
}
.cell {
    width: 6vh;
    height: 6vh;
}
.row > .wall { background-color: gray; }
.row > .open { background-color: white; }
.row > .player { background-image: var(--player-image); background-size: cover;}
.row > .finish { background-color: #2196F3; }
.row > .start { background-color: #f44336; }


/* --ALERT-- */
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--panel-color);
    color: white;
    font-size: 3vh;
    white-space: pre;
}
.closebtn:hover { color: black; }


/* --PLAYER SELECTOR-- */

.custom-select { 
    width: 24vh;
    height: 2vh;
    position: absolute;
    bottom: 5.9vh;
    z-index: 1;
    font-family: Arial; 
    font-size: 2.7vh;
}
.custom-select select { display: none; }
.select-selected { background-color: #ff9800; }
/* Arrow */
.select-selected:after {
    position: absolute;
    content: "";
    top: 2.2vh;
    right: 1.5vh;
    width: 0;
    height: 0;
    border: 1vh solid transparent;
    border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 1vh;
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 1.25vh 2.5vh;

    cursor: pointer;
    user-select: none;
}
.select-items div {
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}
.select-items {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    background-color: #ff9800;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide { display: none; }
.select-items div:hover, .same-as-selected { background-color: rgba(0, 0, 0, 0.1);}

.button {
    width: 24vh;
    height: 5.5vh;
    position: absolute;
    bottom: 2.25vh;
    right: 0;
    background-color: #ff9800; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
